
* {
    border-radius: 5px;
    font-family: 'Special Elite', cursive;
}

button {
    cursor: pointer;
}

 body {
    background: #566f88;
    -webkit-font-smoothing: antialiased;
    color: rgb(243, 234, 234);
}
ul {
    margin: 0;
    padding:0;
    list-style: none;
}
 /* Style the input fields */
 input {
    padding: 10px;
    font-size: 17px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* style for the buttons */
.btn {
    display: flex;
    margin: 10 auto;
    font-size: 15;
    padding: 0 16 0;
    height: 28;
}

/* Login Form ******************/
.login-button {
    background-color: rgb(51, 53, 55);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    display: block;
    font-size: 15px;
}
.login-button:hover {
    opacity: .8;
}
.image-container {
    text-align: center;
    margin: 24px 0 12px 0;
}
.login-image {
    width: 45%;
    margin: 40px 0 0;
}
.form-container {
    margin: 0 auto;
    width: 300px;
    display: block;
}


/* Questionnaire Form *********/
.questions-form {
    display: block;
    margin: 0 0 3px 0;
}
.next-prev {
    overflow:auto;
}
.next-prev-float {
    float:right;
}
.step-circles {
    text-align:center;
    margin-top:40px;
}
.question-btn {
    display: inline-flex;
    margin: 10 auto;
    font-size: 15px;
    padding: 0 16 0;
    height: 28;
}
.answerChoices {
    padding: 12px;
}
.question {
    background-color: #59617a;
    margin: 0;
    padding: 20px;
}
.question-p {
    margin: 0;
    font-size: 20px;
}


/* High Chart ********* */
#container {
    min-width: 310px; 
    height: 400px; 
    max-width: 600px; 
    margin: 40px auto;
}
#results-text {
    text-align: center;
    margin: 60px 0 0;
}
.results-input {
    margin: 0 auto;
    display: block;
    width: 45%;
}
.results-p {
    font-size: 18px;
}

/* Log ********/
.log-table {
    margin: 0px auto;
    width: 50%;
    min-width: 300px;
}
th {
    padding: 12px;
    text-align: left;
    background-color: rgb(49, 71, 90);
    color: white;
}
tr {
    padding: 30px;
}
caption {
    font-size: 30px;
    font-weight:  bolder;
    color: rgb(237, 244, 244);
    margin: 60px 0 10px 0;
}

/* Navigation Bar *********/
.nav-list {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #59617a;
    left: 0;
    right: 0;
    border-radius: 0;
    display: flex;
}
.nav-list a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-list a:hover {
    background-color: rgb(51, 53, 55); 
}
.home {
    background-color: rgb(53, 70, 80);
}
.nav-list .icon {
    display: none;
  }


/* Style the form *************/
#questions-form {
    margin: 40px auto;
    padding: 40px;
    width: 70%;
min-width: 300px;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none; 
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

/* Mark the active step: */
.step.active {
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #4CAF50;
}  


/* Footer ***************/
footer {
font-size: 12px;
padding: 5px;
width: 100%;
text-align: center;
display: block;
}
.social-icon {
color: #fff;
}
.social-icons li {
vertical-align: top;
display: inline;
}
.social-icons a {
color: #fff;
text-decoration: none;
}
.fa-twitter {
padding:10px 12px;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition: .5s;
}
.fa-twitter:hover {
    background-color: #00aced;
    border-radius: 5px;
}
.fa-envelope-open {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-envelope-open:hover {
    background-color: #e64a41;
    border-radius: 5px;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
    border-radius: 5px;
}
.fa-github-alt {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-github-alt:hover {
    background-color: #383635;
    border-radius: 5px;
}


@media screen and (max-width: 600px) {
    /* footer */
    footer {
        font-size: 10px;
        padding: 2px;
    }
    /* buttons */
    .btn .login-button .question-btn  {
        height: 20px;
        font-size: 12px;
        padding: 5px;
    }
    /* Navigation bar    */
    .nav-list a:not(:first-child) {
        display: none;
    }
    .nav-list a.icon {
      float: right;
      display: block;
    }
    .nav-list.responsive {
        position: relative;
        display: block;
    }
    .nav-list.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-list.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    /* questions-form */
    #questions-form {
        font-size: 14px;
        padding: 0;
        width: 0;
    }
    #questionnaire {
        margin: 60px 0 0;

    }
    h3.questions {
        margin: 0;
    }
    /* resulst input */
    .results-input {
        width: 90%;
    }
    /* high chart */
    #container {
        min-width: 300px
    }
}